@use 'variables'; // Импортируем переменные
@use 'mixins';    // Импортируем миксины
@use 'header';
@use 'login-page';
@use 'account-page';
@use 'login-form'; 
@use 'data-table';

@font-face { 
  font-family: "AntonRegular";
  src: url("../assets/fonts/AntonRegular/AntonRegular.eot");
  src: url("../assets/fonts/AntonRegular/AntonRegular.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/AntonRegular/AntonRegular.woff") format("woff"),
       url("../assets/fonts/AntonRegular/AntonRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face { 
  font-family: "FugazOneRegular";
  src: url("../assets/fonts/FugazOneRegular/FugazOneRegular.eot");
  src: url("../assets/fonts/FugazOneRegular/FugazOneRegular.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/FugazOneRegular/FugazOneRegular.woff") format("woff"),
       url("../assets/fonts/FugazOneRegular/FugazOneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}